@import url('https://fonts.googleapis.com/css?family=Athiti');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* border: solid 1px red; */
}


body {
    font-family: 'Athiti';
    margin: 0;
    transition: 1.5s;
}

.nav-bar {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #222222;
    position: fixed;
    z-index: 1;
}
.nav-bar ul{
    /* border: 1px solid black; */
    display: flex;
    list-style-type: none;
    flex: 2;
    margin: 0;
}

.nav-bar-left {
    display: flex;
    padding:30px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-left li{
    white-space: nowrap;
    padding: 2px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}
.nav-bar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 1.5em;
}

#front-page {
    padding: 15rem 0;
}

.orchid-background {
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./images/black-background.jpg");
    background-position: center;
    position: relative;
    flex-direction: column;
   /* background-color: black;*/
    height: 63vw;
}

#front-page.orchid-background {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
}
#front-page section {
    position: relative;
    bottom: 3rem;
    left: 2rem;
}

#name, #job-title, .photo-lineup{
    /* position: absolute; */
    left: 6vw;
    font-size: 6vw;
    color:white;
    margin: 0;
}

#name{ 
    top: 18vw;
}

#job-title {
    top: 25vw;
}   
.photo-lineup{
    top:33vw;
}

.photo-lineup img {
    width: 8vw;
} 
.darker-background {
    background-color:#272727;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutMe {
    padding: 6rem 0;
}
.about-me img{ 
    width: 80vw;
    border-radius: 20%;
}

.about-me {
    margin: 20px;

}

.about-me-info h3 {
    text-transform: uppercase;
    font-size: 2em;
}
.about-me-info {
    color: white; 
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 0 20px;
    text-align: justify;
    justify-content: flex-end;
}

#projects {
    padding: 10rem 0;
}
.projects-background {
    background-color:black;
    color: white;
    text-align: center;
}
.projects-background a{
    color: white;
    text-decoration: none; 
}
.projects-background h1{
    margin: 0;
    padding-bottom: 5rem;
    text-transform: uppercase;
}

.projects-list {
    display: flex;
    justify-content: space-evenly;

}

.projects-list div {
    width: 20rem;
    height: 20rem;
    background-color: black;
    margin: 2rem 0;
    border-radius: 50%;
    padding-top: 8.5rem;
    text-transform: uppercase;
}

.projects-list div:hover {
    box-shadow: 0px 0px 40px white;
    transition: ease-in .3s;
  }
#contactMe {
    padding: 10rem 0;
}

.contact-background {
    background-color: #272727;
}

.contact-background h1{
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 5rem;
    text-transform: uppercase;
}
.contact-background form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    position: relative;
    left: 25%;
}




footer {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center; 
}
.nav-bar-socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 30px;
    height: 10vh;
    width: 10vw;
}
.nav-bar-socials img {
    align-items: center;
    height: 2rem;
    width: 2rem;
}

.nav-bar-socials ul{
    background-color: black;
}
.nav-bar-socials #resume {
    color: white;
}










/*DESKTOP */
/*Show these styles only when width of chrome window is atleast 500px*/
@media (min-width: 500px){
    .darker-background {
        flex-direction: row;
        align-items: center;
        background-color:#272727;
    }
    .about-me img{ 
        width: 300px;
    }
    .nav-bar-socials img {
        align-items: center;
        height: 3rem;
        width: 3rem;
    }
    #aboutMe {
        padding: 10rem 0;
    }
}