@import url('https://fonts.googleapis.com/css?family=Athiti');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Athiti';
    margin: 0;
    transition: 1.5s;
}
/* .nav-bar {
    background-color:black;
    margin: 0 auto;
    border: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.nav-bar-left li{
    text-decoration: none;
    color: white;
    display: inline;
    flex-direction: row;
    justify-content: space-around;

}
.nav-bar-center {
    display: flex;
    justify-content: center;
    color: white;

}
ul.nav-bar-right {
    align-items: flex-end;
}
.nav-bar-socials li {
    display: inline;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
} */

.nav-bar {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #222222;
}
.nav-bar ul{
    /* border: 1px solid black; */
    display: flex;
    list-style-type: none;
    flex: 2;
    margin: 0;
}

.nav-bar-left {
    display: flex;
    padding:30px;
    justify-content: space-between;
    align-items: center;
}
.nav-bar a {
    color: white;
    text-decoration: none;
}
.nav-bar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 1.5em;
}
.orchid-background {
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./images/black-background.jpg");
    background-position: center;
    position: relative;
    flex-direction: column;
   /* background-color: black;*/
    height: 63vw;
}

#name, #job-title, .photo-lineup{
    position: absolute;
    
    left: 6vw;
    font-size: 6vw;
    color:white;
    margin: 0;
}

#name{ 
    top: 18vw;
}

#job-title {
    top: 25vw;
}   
.photo-lineup{
    top:33vw;
}


/*
#name {
    font-size: 4vw;
    display:flex;
    color:  rgb(87, 58, 58);
    width: 700px;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-45%, -60%)
}
#job-title {
    color:  rgb(87, 58, 58);;
    font-size: 2vw;
    position: absolute;
    top: 32%;
    left: 35%;
    transform: translate(-45%, -60%)
}
/*
.photo-lineup {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 30px;
    height: 30px;
}*/


.photo-lineup img {
    width: 8vw;
} 
.darker-background {
    background-color:#272727;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-me img{ 
    width: 80vw;
}


.about-me {
    margin: 20px; 
}

.about-me-info h3 {
    text-transform: uppercase;
    font-size: 2em;
}
.about-me-info {
    color: white; 
    flex-wrap: wrap;
    
    margin: 20px auto;
    /* justify-content: center;  */
    text-align: center;
    justify-content: flex-end;
}
.projects-background {
    background-color:black;
    display: flex;
    text-decoration: none;
}
.projects-background a{
    color: white;
    text-decoration: none; 
}

.projects-title {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.contact-background {
    background-color: #272727;
    display: flex;
    justify-content: space-around;
}
h1{
    color: white;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    color: rgb(87, 58, 58);
}
.form-control{
    display: flex;
    /* align-items: flex-end; */
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(87, 58, 58);
    color:white;
    font-size: 18px;
    margin-bottom: 16px;
}

.contact-form{
    display: flex;
    align-items: right;
}
footer {
    background-color: black;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center; 
}
.nav-bar-socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 30px;
}
ul.nav-bar-socials {
    align-items: center;
}










/*DESKTOP */
/*Show these styles only when width of chrome window is atleast 500px*/
@media (min-width: 500px){
    .darker-background {
        flex-direction: row;
        align-items: center;
        background-color:red;
    }
    .about-me img{ 
        width: 300px;
    }
    
}